/* external css */
#p_1 {
    /* width: 300px;
    padding: 20px;
    margin: 10px;
    border-width : 5px;
    border-style: solid;
    border-color: black; */
    width: 50%;
    background-color: red;
 }